---
import PageLayout from "../layouts/page-layout.astro";
import StyledLink from "../components/styled-link.astro";
import Heading from "../components/heading.astro";
---

<PageLayout
  description="Imprint including address and contact info, as well as links to social media and job platforms."
>
  <Heading class="fade">Who?</Heading>

  <div class="grid text-md py-4">
    <p class="text-2xl font-bold">Thomas Meerpohl</p>
    <p>Nieritz Straße 7</p>
    <p>01097 Dresden</p>
    <p>Germany</p>
  </div>

  <div>
    Visit my
    <StyledLink href="http://meerpohl.dev"> homepage </StyledLink>
    for some fun SVG generators!
  </div>

  <div class="grid text-md">
    <StyledLink href="mailto:thomas.meerpohl@gmail.com">
      thomas.meerpohl@gmail.com
    </StyledLink>
    <StyledLink href="https://bsky.app/profile/meerpohl.dev">
      <span>Bluesky</span>
    </StyledLink>
    <StyledLink href="https://www.linkedin.com/in/thomas-meerpohl-0609b619b/">
      LinkedIn
    </StyledLink>
    <StyledLink href="https://www.freelancermap.de/profil/thomas-meerpohl">
      FreelancerMap
    </StyledLink>
    <StyledLink href="https://github.com/Achder">Github</StyledLink>
  </div>
</PageLayout>

<script>
  import { fade } from "../utils/animation";

  document.addEventListener("DOMContentLoaded", async () => {
    fade(".fade", {
      startOffset: -50,
      duration: 0.3,
    });
  });
</script>
