---
import PageLayout from "../layouts/page-layout.astro";
import Input from "../components/input.astro";
import Heading from "../components/heading.astro";
import Rating from "../components/rating.astro";
import Button from "../components/button.astro";
---

<PageLayout>
  <Heading>Moodle</Heading>

  <Rating id="rating-number">0</Rating>

  <form class="grid gap-8" id="rating-form">
    <fieldset class="grid gap-2">
      <Input
        id="rating"
        type="range"
        name="rating"
        min="0"
        max="10"
        step="0.001">Rating</Input
      >
      <Input id="date" type="date" name="date">Date</Input>
      <Input id="notes" type="text" name="notes" maxlength="50"
        >Notes (max. 50 characters)</Input
      >
    </fieldset>
  </form>

  <Button id="submit" type="submit" form="rating-form">Save</Button>
</PageLayout>

<script>
  import Color from "colorjs.io";
  import { mixN, setThemeColor } from "../utils/color";
  import { fade } from "../utils/animation";
  import { db, RatingSchema, DateSchema } from "../utils/db";
  import { format } from "date-fns";

  const ratingNumber = document.getElementById("rating-number")!;
  const rating = document.getElementById("rating")! as HTMLInputElement;
  const date = document.getElementById("date")! as HTMLInputElement;
  const notes = document.getElementById("notes")! as HTMLInputElement;
  const form = document.getElementById("rating-form")! as HTMLFormElement;
  const submit = document.getElementById("submit")! as HTMLButtonElement;

  function setInput(
    element: HTMLInputElement,
    value: string,
    eventType?: string
  ) {
    element.value = value;
    if (eventType) {
      element.dispatchEvent(new Event(eventType));
    }
  }

  function initRatingSlider() {
    rating.addEventListener("input", () => {
      const value = rating.valueAsNumber;
      const max = Number(rating.max);
      const t = value / max;

      ratingNumber.innerText = `${value.toFixed(1)}`;

      const rootStyle = getComputedStyle(document.documentElement);
      const bad = new Color(rootStyle.getPropertyValue("--color-bad"));
      const mid = new Color(rootStyle.getPropertyValue("--color-mid"));
      const good = new Color(rootStyle.getPropertyValue("--color-good"));
      const bg = mixN([bad, mid, good], t, "oklch", "oklch");

      setThemeColor(bg.toString());
      document.documentElement.style.setProperty(
        "--color-brand",
        bg.toString()
      );
    });
  }

  async function initInputs() {
    try {
      const today = format(new Date(), "yyyy-MM-dd");
      const url = new URL(window.location.href);
      const urlDate = DateSchema.safeParse(url.searchParams.get("date"));
      const currentDate = urlDate.success ? urlDate.data : today;

      setInput(date, currentDate);

      // reset url params
      //url.search = "";
      url.searchParams.set("date", currentDate);
      window.history.replaceState({}, "", url.toString());

      const data = await db.ratings.get(currentDate);
      if (!data) {
        setInput(rating, "5", "input");
        setInput(notes, "", "input");
        submit.textContent = "Save";
      } else {
        setInput(rating, data.rating.toString(), "input");
        setInput(notes, data.notes ?? "", "input");
        submit.textContent = "Edit";
      }
    } catch (error) {
      console.error(error);
    }
  }

  async function initForm() {
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const json = Object.fromEntries(formData.entries());
      const inputs = RatingSchema.safeParse(json);

      if (!inputs.success) {
        console.error(inputs.error);
        return;
      }

      await db.ratings.put(inputs.data);
      await fade(".fade", {
        startOffset: 0,
        endOffset: 50,
        startOpacity: 1,
        endOpacity: 0,
      });

      const rootStyle = getComputedStyle(document.documentElement);
      const brand = rootStyle.getPropertyValue("--color-brand");
      const encodedBrand = encodeURIComponent(brand);
      location.href = `/nice?bg=${encodedBrand}`;
    });
  }

  function initDate() {
    date.addEventListener("change", async () => {
      const url = new URL(window.location.href);
      url.searchParams.set("date", date.value);
      window.history.pushState({}, "", url);
      await initInputs();
    });
  }

  document.addEventListener("DOMContentLoaded", async () => {
    fade(".fade", {
      startOffset: -50,
    });

    initRatingSlider();
    initDate();
    await initInputs();
    await initForm();
  });
</script>
