---
import Bluesky from "./icons/Bluesky.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";

type Props = {
  class?: string;
};

const { class: className, ...rest } = Astro.props;
---

<nav class:list={[className]} {...rest}>
  <a href="https://www.linkedin.com/in/thomas-meerpohl-0609b619b/">
    <span class="sr-only">LinkedIn</span>
    <LinkedIn />
  </a>
  <a href="https://bsky.app/profile/meerpohl.dev">
    <span class="sr-only">Bluesky</span>
    <Bluesky />
  </a>
  <a href="https://github.com/Achder">
    <span class="sr-only">Github</span>
    <Github />
  </a>
</nav>
