---
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  class:list={[
    className,
    "underline underline-offset-2 hover:no-underline hover:text-highlight whitespace-nowrap font-bold transition-colors",
  ]}
>
  <slot />
</a>
